* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
p {font-size: 16px;}

h1, h2, h3, h4, h5 {
    color: #4f4f4f;
}

/* navbar desktop */

header {
    width: 100%;
}

#navbar {
    display: flex;
    height: 64px;
    padding: 0 24px;
    align-items: center;
}

#navbar nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#navbar nav ul {
    display: flex;
}

#navbar nav a {
    padding: 0 16px;
    text-decoration: none;
    color: grey;
}

.darkgrey {color: #01161E;}
.lightgrey {color: darkgray}

/* navbar mobile */

#mobileNavbar {
    display: none;
    width: 100%;
    height: 64px;
    align-items: center;
}

#mobileNavbar nav ul {
    display: flex;
}

#mobileNavbar img {
    justify-content: space-between;
}

/* banner section */

.banner {
    width: 100%;
    background-color: #c4c2c2;
    display: flex;
}

.bannerImage img {
    padding: 32px 24px;
    width: 100%;
}

.bannerImage {
    width: 60%;
}

.bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.bannerText h1 {
    margin-bottom: 16px;
}

.bannerText h4 {
    margin-bottom: 8px;
}

.bannerText a {
    width: 60%;
    background-color: #515151;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

/* information section */

.infoDesktop {
    width: 100%;
    display: flex;
    padding: 0 24px;
}

.infoIntro {
    width: 60%;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.infoIntro img {
    width: 100%;
    margin-bottom: 32px;
}

.infoIntro h2 {
    margin-bottom: 24px;
}

.infoIntro p {
    margin-bottom: 24px;
}

.eventDetails div {
    display: flex;
    padding: 16px 0px 16px 16px;
}

.eventDetails div div {
    flex-direction: column;
}

.eventDetails div img {
    width: 35%;
    height: auto;
}

.eventDetails div div h3 {
    padding-bottom: 10px;
} 

.eventDetails div div p {
    padding-bottom: 8px;
}

.eventDetails {
    margin-top: 16px;
}

.eventDetails a {
    text-decoration: none;
    color: #4577bc;
}

.infoMobile {
    display: none;
}

/* start learning section */

.mobileCourses {
    display: none;
}

.startLearning {
    padding: 32px 72px;
    width: 100%;
    background-color: #e1dfdf;
}

.startLearningHeader {
    padding-bottom: 32px;
    text-align: center;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses img {
    height: auto;
    width: 100%;
}

.courses div {
    margin-bottom: 32px;
    margin-right: 32px;
    width: 500px;
}

.courses div div {
    padding: 16px 16px 24px 16px;
    background-color: white;
    height: 130px;
}

.courses div div h5 {
    padding-bottom: 16px;
}

.courses h4 {
    padding-bottom: 10px;
}

/* thesis exhibits section */

.thesis {
    width: 100%;
    padding: 32px 24px;
}

.thesisHeader {
    text-align: center;
    padding-bottom: 32px;
}

.thesisContent {
    display: flex;
}

.thesisVideo {
    width: 60%;
    padding-right: 24px;
}

.thesisVideo video {
    width: 100%;
    padding-bottom: 24px;
}

.thesisVideo h3 {
    padding-bottom: 15px;
}

.fisma {
    background-color: lightgray;
}

.exhibits {
    display: flex;
    flex-direction: column;
}

.exhibits div {
    display: flex;
}

.exhibits div img {
    padding: 16px;
}

.exhibits div div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/* footer section */

footer {
    width: 100%;
}

.footer {
    height: auto;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: #9f9b9b solid 1px;
    display: flex;
}

.footer p {
    width: 100%;
    color: darkgray;
}

.footer nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer nav ul {
    display: flex;
}

.footer nav a {
    padding: 0 16px;
    text-decoration: none;
    color: darkgray;
}


/* media query */

@media screen and (max-width: 720px) {

    body {
        width: 100%;
    }

    #mobileNavbar {
        display: flex;
        height: 64px;
        justify-content:center;
        flex-wrap: wrap;
    }

    #navbar {
        display: none;
    }

    #mobileNavbar li {
        padding: 0 2.3em;
    }
    
    /* banner */

    .banner {
        background-color: #c4c2c2;
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .bannerImage {
        width: 100%;
    }

    .bannerImage img {
        padding: 0;
    }

    .bannerText h1 {
        padding-top: 32px;
        padding-bottom: 16px;
    }

    .bannerText h4 {
        padding-bottom: 8px;
    }

    .bannerText a {
        margin-bottom: 32px;
    }

    .bannerText {
        align-items: center;
    }

    /* information section */

    .infoMobile {
        display: flex;
        margin: 0 32px;
        margin-bottom: 32px;
        justify-content: center;
    }

    .infoDesktop {
        display: none;
    }

    .eventDetailsMobile img {
        margin-bottom: 16px;
        margin-top: 32px;
        width: 100%;
    }

    .eventDetailsMobile h3 {
        margin-bottom: 16px;
    }

    .eventDetailsMobile p {
        margin-bottom: 8px;
    }

    .eventDetailsMobile a {
        text-decoration: none;
        color: #4577bc;
    }

    .eventDetailsMobile h3, p, a {
        padding-left: 16px;
    }

    /* start learning section */

    .startLearning {
        background-color: white;
    }

    .courses {
        display: none;
    }

    .startLearningHeader {
        background-color: white;
        padding: 0;
    }

    .mobileCourses h4 {
        text-align: center;
        padding: 16px 0;
        margin: 16px 0;
        background-color: lightgrey;
    }

    .mobileCourses {
        display: block;
    }

    /* Thesis Exhibits */

    .exhibits {
        display: none;
    }

    .thesisVideo h3, p {
        display: none;
    }

    .thesis {
        padding: 0;
    }

    .thesisVideo {
        width: 100%;
        padding: 0;
    }
}